<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-img">
                        <img alt="element 06" class="mb-1" src="assets/img/kassaa.png" width="190">
                    </div>
                    <div class="card-body">
                        <div class="card-block">
                            <h2>Şifremi Unuttum</h2>
                            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email" ngModel required email>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-pink btn-block btn-raised">GÖNDER</button>
                                        <button routerLink="/pages/login" type="button" class="btn btn-secondary btn-block btn-raised">GERİ GÖN</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="float-left"><a routerLink="/pages/login">Giriş Yap</a></div>
                        <div class="float-right"><a routerLink="/pages/register" >Kayıt Ol</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->