<div class="chat-application" style="height: 555px !important;">
  <section class="chat-app-window" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div class="badge badge-dark mb-1">Konuşma Geçmişi</div>
    <div class="chats">
      <div class="chats">
        <div [ngClass]="[chat.chatClass]" *ngFor="let chat of chat">
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" data-placement="[chat.avatar]" title="" data-original-title="">
              <img [src]="[chat.imagePath]" class="width-50" alt="avatar" />
            </a>
          </div>
          <div class="chat-body">
            <div class="chat-content" *ngFor="let message of chat.messages">
              <p *ngIf="chat.messageType === 'text'">{{ message }}</p>
            </div>
          </div>
          <p class="time" *ngIf="chat.time !='' ">{{chat.time}}</p>
        </div>

        <div class="chat" *ngIf="messages.length > 0">
          <div class="chat-avatar">
            <a class="avatar" data-toggle="tooltip" data-placement="right" title="" data-original-title="">
              <img src="assets/img/kassaa.png" class="width-50" alt="avatar" />
            </a>
          </div>
          <div class="chat-body">
            <div class="chat-content" *ngFor="let message of messages">
              <p>{{ message }}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="chat-app-form bg-blue-grey bg-lighten-5">
    <form class="chat-app-input row">
      <fieldset class="form-group position-relative has-icon-left col-lg-9 col-9 m-0">
        <div class="form-control-position">
          <i class="icon-emoticon-smile"></i>
        </div>
        <input type="text" class="form-control" id="iconLeft4" placeholder="Type your message" (keydown.enter)="onAddMessage();$event.preventDefault()"
          #messageInput>
        <div class="form-control-position control-position-right">
          <i class="ft-image"></i>
        </div>
      </fieldset>
      <fieldset style="float:right" class="form-group position-relative has-icon-left col-lg-3 col-3 m-0">
        <button type="button" style="border-radius: 100%" class="btn text-center btn-raised gradient-blackberry btn-primary" (click)="onAddMessage()">
          <i class="fa fa-paper-plane-o hidden-lg-up"></i></button>
      </fieldset>
    </form>
  </section>
</div>

