<div class="row" matchHeight ="card">
    <div class="col-xl-3 col-lg-12"></div>
    <div class="col-xl-6 col-lg-12">
      <div class="card text-center">
          <div class="card-header">
              <h4 style="font-weight: 700;" class="card-title mb-0">THE LAST CODEBANDERS</h4>
          </div>
          <div class="card-body">
              <div class="card-block">
                  <h4 style="text-transform: none" class="card-title mb-0">Grup açıklaması falan filan</h4>
              </div>
              <div class="card-block">
                  <h4 class="card-title mb-0">ÜYELER</h4>
              </div>
          </div>
          <div class="card-body members">
              <div class="card-block ">
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>

                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>

                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <a routerLink="/dashboard" style="background-color: #d32f2f; color: #fff;" class="btn btn-raised btn-block round">GRUBU DAĞIT</a>
  </div>
  <div class="col-xl-3 col-lg-12"></div>
  </div>
  