<!--Login Page Starts-->
<section id="login">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="card card-inverse gradient-indigo-purple text-center width-400">
                    <div class="card-body">
                        <div class="card-block">
                          <img style="padding:20px 0px; width: 100%" src="http://chart.googleapis.com/chart?cht=qr&chs=300x300&chl=otpauth%3A%2F%2Ftotp%2FHessappTFA%3Fsecret%3DMY3TEOJYG43WEMTCGEYDIZBQMVRDOMJXGYYTAZJZMNTDOYJVGMZEA2DTFVQWI3LJNY%26issuer%3DGoogle%2520Auth">
                          <div class="form-group">
                                    <div class="col-md-12">
                                        <button routerLink="/pages/login" type="button" class="btn btn-pink btn-block btn-raised">GİRİŞ YAP</button>
                                     </div>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Login Page Ends-->