<div class="row" matchHeight ="card">
  
  <div class="col-xl-7 col-lg-12">
      <div class="card">
          <div class="card-header">
              <h4 class="card-title mb-0">GRUP BİLGİLERİ</h4>
          </div>
          <div class="card-body">
              <div class="card-block text-center">
                  <input type="text" class="form-control" placeholder="Grup Adı" aria-label="Grup Adı" aria-describedby="basic-addon1" required="">
                  
              </div>
              <div class="card-block text-center">
                  <textarea style="max-height:100px; min-height:100px;" class="form-control ng-pristine" formcontrolname="textArea" id="textArea" placeholder="Grup Açıklaması" rows="3"></textarea>
              </div>
              <div class="card-block">
                  <fieldset>
                      <div class="input-group">
                        <input aria-describedby="button-addon2" class="form-control" placeholder="Kullanıcı Ara" type="text">
                        <div class="input-group-append">
                          <span class="input-group-btn" id="button-addon2">
                            <button class="btn btn-raised btn-primary" type="button"><i class="fa fa-search"></i></button>
                          </span>
                        </div>
                      </div>
                    </fieldset>
              </div>

              <div class="card-block">
                  <div class="media mb-3">
                      <div class="media-body">
                          <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                      </div>
                    <a class="btn btn-raised gradient-blackberry round btn-primary" title="Hebele Hübele" ><i class="fa fa-check"></i></a>
                    <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
                  </div>
                  </div>
          </div>
      </div>
  </div>
  <div class="col-xl-5 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title mb-0">GRUP ÜYELERİ</h4>
        </div>
        <div class="card-body">
            <div class="card-block members">
                <div class="media mb-3">
                    <div class="media-body ">
                        <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                    </div>
                    <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
                </div>
                <div class="media mb-3">
                  <div class="media-body">
                      <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                  </div>
                  <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
              </div>
              <div class="media mb-3">
                  <div class="media-body">
                      <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                  </div>
                  <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
              </div>
              <div class="media mb-3">
                  <div class="media-body">
                      <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                  </div>
                  <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
              </div>
              <div class="media mb-3">
                <div class="media-body">
                    <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
                </div>
                <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
            </div>
            <div class="media mb-3">
              <div class="media-body">
                  <h4 class="font-medium-1 mt-2 mb-0">Muzo Jaynes</h4>
              </div>
              <a class="btn btn-raised  round" style="margin:0px 10px; background-color: #d32f2f; color: #fff;" title="Hebele Hübele" ><i class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="card-block">
          <a routerLink="/dashboard" class="btn btn-raised gradient-blackberry btn-primary btn-block round">GRUBU OLUŞTUR</a>
          <a routerLink="/dashboard" style="background-color: #d32f2f; color: #fff;" class="btn btn-raised btn-block round">İPTAL ET</a>
        </div>
        </div>

    </div>
</div>
</div>
