<!--Vertical Timeline Starts-->
<section id="timeline" class="timeline-center timeline-wrapper">
  <h3 class="page-title text-center">Hareketler</h3>
  <ul class="timeline">
    <li class="timeline-line"></li>
    <li class="timeline-group">
      <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> 2018</a>
    </li>
  </ul>
  <ul class="timeline">

    <li class="timeline-line"></li>
    <!-- /.timeline-line -->

    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">60TL - İnternet Faturası </h4>
          <p class="card-text"><small>Yasin Dönmez</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">60TL - İnternet Faturası </h4>
          <p class="card-text"><small>Yasin Dönmez</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-group">
      <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Ağustos 2018</a>
    </li>
    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">60TL - İnternet Faturası </h4>
          <p class="card-text"><small>Yasin Dönmez</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">0060TL - İnternet Flelrelr aturası </h4>
          <p class="card-text"><small>Yasin Dönmeasdadz</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    
    <li class="timeline-group">
      <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Eylül 2018</a>
    </li>
    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">1000TL - İnternet Faturası Var Faturası Var Faturası Var</h4>
          <p class="card-text"><small>Yasin Dönmez</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="timeline-item mt-5 text-center">
      <div class="timeline-card card border-grey border-lighten-2">
        <div class="card-header">
          <h4 class="mb-0 card-title">0060TL - İnternet Flelrelr aturası </h4>
          <p class="card-text"><small>Yasin Dönmeasdadz</small></p>
          <p class="card-text"><small>01.10.1997</small></p>
        </div>
        <div class="card-body">
          <div class="card-body">
            <div class="card-block">
              <p class="card-text">İnternet faturasını ödedim. Verin paramı sikerim</p>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ul>

  <ul class="timeline">
    <li class="timeline-line"></li>
    <li class="timeline-group">
      <a class="btn btn-raised btn-primary"><i class="fa fa-calendar-o"></i> Founded in 2013</a>
    </li>
  </ul>
</section>
<section class="text-center">
  <a class="btn btn-raised round btn-primary" id="spends-function" (click)="openModal(customContent)"><i class="fa fa-plus"></i></a>
</section>

                <ng-template #customContent let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">HARCAMA EKLE</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="card-block text-center">
                                <input type="text" class="form-control" placeholder="Harcama Miktarı" aria-label="Harcama Miktarı" aria-describedby="basic-addon1" required="">
                                
                            </div>
                            <div class="card-block text-center">
                                <textarea style="max-height:100px; min-height:100px;" class="form-control ng-pristine" formcontrolname="textArea" id="textArea" placeholder="Harcama Açıklaması" rows="3"></textarea>
                            </div>
                            <div class="card-block">
                                <a  class="btn btn-raised gradient-blackberry btn-primary btn-block round">HARCAMA OLUŞTUR</a>
                                <a (click)="d('Cross click')"style="background-color: #d32f2f; color: #fff;" class="btn btn-raised btn-block round">İPTAL ET</a>
                              </div>
                        </div>
                    </div>
                </ng-template>